body {
    background:linear-gradient(180deg,#a1c4fd, #c2e9fb);
    background-repeat: no-repeat;
    height: 100vh;
    padding: none;
    margin:none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: #fff;
    text-decoration: none;
}

a:visited{
    color: #fff;
}

a:hover{
    color: grey;
}

a:active{
    color: #fff;
}

.topnav {
    margin-bottom: 150px;
    padding:10px 20px;
}

h2{
    padding:0;
    display: inline;
}

#site-name{
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;

}

.topnav-right {
    float: right;
}

.topnav-right a{
    margin-left: 10px;
}

h1{
    display: inline-block;
}

ul{
    list-style-type: none;
    float:right;
}


li{
    display: inline-block;
    
}

#searchBarContainer{
    text-align: center;
}

#searchBar{
    width:60%;
    background-color:rgb(110,143,196,0.5);
    color: #fff;
    border: none;
    border-radius: 30px;
    height: 30px;
}

#submit{
    background-color: transparent;
    border:none;
    cursor: pointer;
}

#submit:hover{
    color: grey;
}

#output {
    background-color:rgb(110,143,196);
    border-radius: 10px;
    width:50%;
    margin:10px auto;
    box-shadow: 5px 5px 5px #aaaaaa;
    display: flex;
    flex: row wrap;
    visibility: hidden;
}

#flex-left{
    padding: 20px;
    flex: 2 0 0;
    text-align: center;
}

h1{
    margin:0;
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
}

#temperature{
    font-weight: bold;
    font-size: 30px;
    margin:20px 0 0 0;
}

#icon{
    margin:0;
}

#conditions{
    font-size: 12px;
    font-weight: lighter;
}
#flex-right{
    flex: 1 0 0;
    background-color:rgb(255,255,255,0.5);
    border-radius: 0 10px 10px 0;
    padding: 20px;
}

.flex-right-title{
font-weight: bolder;
font-size: 12px;

}

#flex-right span {
    color: grey;
    font-size: 10px;
}

footer {
    text-align: center;
    position:fixed;
    bottom:0;
    width:100%;
    color: grey;
    font-size: 10px;
}